HOST = "127.0.0.1"
PORT = 4500
SERVER_HOST_NAME = "Pseudo.PX.SC.MisconfiguredNET.net"
HOPS = "1"
SERVER_DESCRIPTION = "Python Pseudo IRC Services"
SERVER_NUMERIC = "AS"
SERVER_PASS = "somepass"
BOT_NAME = "ProxyServ"
BOT_HOST = "services.misconfigurednet.net"
BOT_DESC = "Proxy Monitoring Service"
BOT_MODE = "+oik" #You generally want atleast +oi (and k if your IRCd supports it)
DEBUG_CHANNEL = "#proxy"
NETWORK_NAME = "MisconfiguredNET"
DB_NAME = "popm"
DB_USER = "popm"
DB_HOST = "localhost"
DB_PASS = "somepass"
ENABLE_DNSBL = 1
ENABLE_HTTP = 1
ENABLE_SOCKS = 1