HOST = "127.0.0.1"
PORT = 4500
SRVNAME = ""
HOPS = ""
SRVDESC = ""
SRVID = ""
SRVPASS = ""
BOT_NAME = ""
DEBUG_CHANNEL = ""
NETWORK_NAME = ""
DB_NAME = ""
DB_USER = ""
DB_HOST = ""
DB_PASS = ""
ENABLE_DNSBL = 0
ENABLE_HTTP = 1
ENABLE_SOCKS = 1
